{% extends 'tournament/base.html' %}
{% block content %}

<h2>Швейцарская система</h2>
    <div class="lead">
Швейцарская система&nbsp;&#151; система проведения турниров. Впервые была применена в&nbsp;Цюрихе в&nbsp;1895&nbsp;году. Использование данной системы позволяет выявить победителей за меньшее количество партий, чем при круговой системе.  <br><br>

<b>Проведение турниров</b>
<ol>
<li>Количество игроков должно быть четным.
<li>Программа выстраивает игроков по рейтингу и&nbsp;делит на две группы. Если рейтинга нет, то деление происходит случайным образом.
<li>Первый из первой группы играет с&nbsp;первым из второй. Т.е. при <nobr>20-ти</nobr> участниках <nobr>1-й</nobr> играет с&nbsp;<nobr>11-м,</nobr> <nobr>2-й</nobr> с&nbsp;<nobr>12-м</nobr> и&nbsp;т.д.
<li>Во втором туре программа делит игроков на три группы:
<ul>
<li>выигравшие;
<li>с&nbsp;ничейным результатом;
<li>проигравшие.
</ul>
Если в&nbsp;одной из групп образуется нечетное количество игроков, то последний игрок из предыдущей группы спускается в&nbsp;нижнюю группу и&nbsp;играет в&nbsp;паре с&nbsp;верхним участником из этой группы.
<li>Для проведения второго и&nbsp;последующих туров игроки каждой очковой группы определяются так&nbsp;же, как в&nbsp;<nobr>п.1-п.3.</nobr>
</ol>
<b>Особенности правил</b>
<ol>
<li>Игрок не может играть две и&nbsp;более партий с&nbsp;одним и&nbsp;тем&nbsp;же соперником.
<li>Цвета фигур в&nbsp;партиях должны чередоваться. Если у&nbsp;обоих игроков одинаковое количество партий, сыгранных каждым цветом, то белыми играет тот, кто последнюю партию играл черными. В&nbsp;любом случае, игрок не должен играть подряд более <nobr>3-х</nobr> партий одним цветом. Правило не действует для боевых шахмат, где право первого хода всегда определяется жребием.
<li>Если соперник не явился на игру, то игрок получает очко как победитель.
<li>Количество туров такое&nbsp;же, как и&nbsp;при системе <nobr>play-off</nobr> для данного числа участников.
</ol>
<b>Подсчет очков</b>
<ol>
<li>Места распределяются по сумме набранных очков.
<li>Если у&nbsp;игроков одинаковое количество очков, то для определения победителя используют Коэффициент Бухгольца. Коэффициент Бухгольца игрока складывается из суммы всех очков соперников, с&nbsp;которыми данный участник играл, независимо от результата встреч между ними.
</ol>
</div>
{% endblock %}