{% extends 'tournament/base.html' %}
{% block content %}
    <div class="row">
    <div class="col-md-7">
          <h2 class="featurette-heading">{{ one_article.name }}<span class="text-muted"><h6>{{ one_article.publication_date }}</h6></span></h2>
          <p class="lead"><span class="text-justify">{{ one_article.text }}</span></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="{{ MEDIA_URL }}{{ one_article.image.url }}" alt="Generic placeholder image">
        </div>
    </div>

{% endblock %}