{% extends 'tournament/base.html' %}
{% block content %}
    {% for one_article in all_articles %}
        {% if one_article.location  == True %}
            <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a style="color: black" href="{% url 'one_article' one_article.id  %}">{{ one_article.name }}</a><span class="text-muted"><h6>{{ one_article.publication_date }}</h6></span></h2>
          <p class="lead"><span class="text-justify">{{ one_article.short_text }}</span></p>
        </div>
        <div class="col-md-5" align="center">
          <img class="featurette-image img-responsive" src="{{ MEDIA_URL }}{{ one_article.image.url }}" alt="Generic placeholder image">
        </div>
      </div>

        {% else %}
            <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5" align="center">
          <img class="featurette-image img-responsive" src="{{ MEDIA_URL }}{{ one_article.image.url }}" alt="Generic placeholder image">
        </div>
        <div class="col-md-7" >
          <h2 class="featurette-heading"><a style="color: black" href="{% url 'one_article' one_article.id  %}">{{ one_article.name }}</a><span class="text-muted"><h6>{{ one_article.publication_date }}</h6></span></h2>
          <p class="lead"><span class="text-justify">{{ one_article.short_text }}</span></p>
        </div>
      </div>
        {% endif %}
    {% endfor %}

{% endblock %}