<div >
  <ul  class="nav nav-tabs"  role="tablist">
    <li class="active" ><a href="#list" aria-controls="list" role="tab" data-toggle="tab">Список</a></li>
    <li ><a href="#add"  aria-controls="add" role="tab" data-toggle="tab">Добавление</a></li>
  </ul>
  <div class="tab-content" >
    <div  role="tabpanel" class="tab-pane fade in active" id="list">{% include "tournament/athlete_card_list.html"  %}</div>
    <div  role="tabpanel" class="tab-pane fade" id="add">{% include "tournament/athlete_card_add.html" %}</div>
  </div>
</div>
