
<div class="row">
{% if messages %}
                        <div style="background-color: #2aabd2" class="alert alert-danger">

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 >{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        </div>
    {% endif %}
    <div class="col-md-2" style="position: fixed">
        <div style="margin-top: 50px">
            {% include 'tournament/search.html' %}
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2" style="margin-top: 5px">
    <table class="table table-hover table-condensed table-striped" name="list_sportman"  style="margin-top: 10px"  cellspacing="0" width="100%">
        <thead >
            <tr>
                <th>Пол</th>
                <th>Ф.И.О.</th>
                <th>Возраст</th>
                <th>Номер паспорта</th>
                <th>Ранг</th>
                <th>Рейтинг Эло</th>
                <th>Сыграно партий</th>
                <th>Управление картой</th>
            </tr>
        </thead>
        <tbody >

            {% for Sportman in all_sportman %}
                <tr>
                    <td>
                        {% if Sportman.genderman == True %}
                            М
                        {% else %}
                            Ж
                        {% endif %}
                    </td>
                    <td>{{ Sportman.sportmanname  }}</td>
                    <td>{{ Sportman.age}}</td>
                    <td>{{ Sportman.numberpassport }}</td>
                    <td>{{ Sportman.ranksportman_ranksportmanid.rankname }}</td>
                    <td>{{ Sportman.ratingelo }}</td>
                    <td>{{ Sportman.countgame }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-2">
                                <a class="navbar-link" title="Редактировать карту" onclick="modal_cart_sportman_edit( {{Sportman.sportmanid}} ,{{ Sportman.countgame }},{{ Sportman.ratingelo }}, value='{{ Sportman.sportmanname }}', value='{{ Sportman.numberpassport }}',value='{{ Sportman.genderman }}',value='{{ Sportman.age_date_year }}',value='{{ Sportman.age_date_month }}',value='{{ Sportman.age_date_day }}',value='{{ Sportman.ranksportman_ranksportmanid.rankname }}');" > <span class="glyphicon glyphicon-pencil "></span></a>
                            </div>
                            <div class="col-md-3">
                                        <a href="{% url 'athlete_card_delete' Sportman.sportmanid %}"  title="Удалить карту" class="navbar-link"> <span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</div>
