{% extends 'tournament/base.html' %}

{% block content %}
    <div class="container" >
        <div class="row">
            <div class="col-md-12" >
                <h4>Карты спортсменов:</h4>
                {% block athlete_card_navigation_menu %}
                    {% include "tournament/athlete_card_navigation_menu.html" %}
                    {% include "tournament/athlete_card_edit.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div style="margin-top: 100px;color: white">
    .
</div>
{% endblock %}