            <form id="add_sportman" name="add_sportman" class="form-horizontal" action="/athlete_card/add/" method="post"> {% csrf_token %}

                <div class="form-group" style="margin-top: 60px">
                    <label class="control-label col-md-1 col-md-offset-2" style="margin-top: 8px" >Ф.И.О:</label>
                    <div class="col-md-4">
                        <input name="sportman_name" maxlength="45"  required class="form-control" id="" placeholder="Введите Ф.И.О.">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-md-2 col-md-offset-1"  style="margin-top: 2px" >Дата рождения:</label>
                    <div class="col-md-4" style="margin-top: 5px">
                        <input type="date" name="birthday" value="1990-01-01" required min="1900-01-01" max="2010-01-01">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 2px" >Номер паспорта:</label>
                    <div class="col-md-4">
                        <input name="number_passport" class="form-control" required id="" placeholder="Введите номер паспорта">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 2px" >Пол:</label>
                    <div class="col-md-4" style="margin-top: 8px">
                       <div  class="form-group">
                           <div class="row">
                               <div class="col-md-3 col-md-offset-3">
                                   <input type="radio" name="gender_man" checked="checked" value="1" /> мужской
                               </div>
                               <div class="col-md-3">
                                   <input type="radio" name="gender_man" value="0" /> женский
                               </div>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 2px" >Сыграно партий:</label>
                    <div class="col-md-4">
                        <input type="number" min="0" step="1" value="0" required name="count_game" class="form-control" id="" placeholder="Введите количество сыграных партий">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 2px" >Рейтинг Эло:</label>
                    <div class="col-md-4">
                        <input  type="number" min="0" step="1" value="0" required name="rating_elo" class="form-control" id="" placeholder="Введите рейтинг Эло">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-3" style="margin-top: 10px">
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                    </div>
                </div>
            </form>

