<div id="openModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
      <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Редактирование карты:</h4>
                </div>
      <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    <form name="edit_sportman" id="id_edit_sportman" class="form-horizontal" action="{% url 'athlete_card_edit'  %}" method="post"> {% csrf_token %}
                <div class="form-group" >
                    <label class="control-label col-md-2 col-md-offset-2" >Ф.И.О:</label>
                    <div class="col-md-6">
                        <input name="sportman_name" required maxlength="45" class="form-control" id="id_sportman_name" placeholder="Введите Ф.И.О.">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-md-3 col-md-offset-1" style="margin-top: 2px" >Дата рождения:</label>
                    <div class="col-md-6" style="margin-top: 5px">
                        <input type="date" name="birthday" required id="id_birthday"   min="1900-01-01">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" style="margin-top: 2px" >Номер паспорта:</label>
                    <div class="col-md-6">
                        <input name="number_passport" required maxlength="45" class="form-control" id="id_number_passport" placeholder="Введите номер паспорта">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" style="margin-top: 2px" >Пол:</label>
                    <div class="col-md-6" style="margin-top: 8px">
                       <div  class="form-group">
                           <div class="row">
                               <div class="col-md-3 col-md-offset-3">
                                   <input type="radio" name="gender_man"  id="id_gender_man_M"  value="1" /> мужской
                               </div>
                               <div class="col-md-3">
                                   <input type="radio" name="gender_man" id="id_gender_man_W" value="0" /> женский
                               </div>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" style="margin-top: 2px" >Сыграно партий:</label>
                    <div class="col-md-6">
                        <input type="number" min="0" required step="1" name="count_game" class="form-control" id="id_count_game" placeholder="Введите количество сыграных партий">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" style="margin-top: 2px" >Рейтинг Эло:</label>
                    <div class="col-md-6">
                        <input type="number" min="0" required step="1" name="rating_elo" class="form-control" id="id_rating_elo" placeholder="Введите рейтинг Эло">
                    </div>
                </div>
                        <div class="form-group">
                    <label class="control-label col-md-3 col-md-offset-1" style="margin-top: 2px" >Ранг:</label>
                    <div class="col-md-6" >
                       <input type="text" id="id_rank_name" class="form-control" readonly >
                    </div>
                </div>
                        <div class="form-group">
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-default" data-dismiss="modal" >Закрыть</button>
                        <input type="submit" class="btn btn-primary" value="Сохранить изменения"/>
                    </div>
                </div>
            </form>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addBookDialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
            <p>some content</p>
            <input type="text" name="bookId" id="bookId" value=""/>
        </div>
        </div>
    </div>
</div>




