{% extends 'tournament/base.html' %}
{% block content %}
    <div class="container" align="center">
            <form action="{% url 'UserAuthenticate' %}" method="post"> {% csrf_token %}
                <div class="row" >
                    <h4 class="form-signin-heading">Войдите в систему:</h4>
                </div>
                <div class="row ">
                    <div class="col-md-4 col-md-offset-4">
                        <input name="username" required maxlength="45" class="form-control" placeholder="Login">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 col-md-offset-4" style="margin-top:5px">
                        <input name="password" required maxlength="45" class="form-control" placeholder="Password">
                    </div>
                </div>
                {% if messages %}
                    <div class="col-md-4 col-md-offset-4">
                        <div >

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 ><font color="red">{{ message }}</font></h5></li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit"  class="btn btn-large btn-primary" >Войти</button>
                    </div>
                </div>

            </form>
    </div>






{% endblock %}