﻿
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="{% static 'tournament/css/style_base.css' %}" rel="stylesheet" />
    <link href="{% static 'tournament/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'tournament/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'tournament/css/bootstrap-theme.css' %}" rel="stylesheet" />

</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top" >
             <div class="container">
                 <div class="nav navbar-inverse" role="navigation">
                     <div class="navbar-left" >
                         <ul class="nav nav-pills"  >
                            <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-tower"></span>Главная</a></li>
                            <li><a href="{% url 'AboutTournament' %}">Правила турнира</a></li>
                             <li><a href="{% url 'archive_tournsmenst' %}">Архив</a></li>

                        </ul>
                     </div>
                     <div class="nav navbar-right" >
                         <div style="margin-top: 12px">
                            <h6 style="color: #ffffff">
                            {% if user.is_authenticated %}
                                {% include "tournament/base_navbar_right_authentication.html" %}
                            {% else %}
                                {% include "tournament/login.html" %}
                            {% endif %}
                            </h6>
                         </div>
                     </div>
                 </div>
             </div>
    </div>

<div class="my-margin">
    {% block content %}

    {% endblock %}
</div>



        <div class="footer-strip" style="margin-top: auto">
            <hr>
            <div class="container" >
                <div class="row">

                    <div class="col-md-2 " class="nav navbar-right">
                        <h6>@Zabavsky 2017</h6>
                    </div>
                    <div class="col-md-3 col-md-offset-7">
                        <p class="pull-right"><a href="">Вверх страницы</a></p>
                    </div>

                </div>
            </div>
        </div>

    <script src="{% static 'tournament/jq 3 2/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'tournament/jq 3 2/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'tournament/jq 3 2/jquery-3.2.1.min.map' %}"></script>
    <script src="{% static 'tournament/scripts/jquery.validate.js' %}" ></script>
    <script src="{% static 'tournament/js/bootstrap.js' %}"></script>
    <script src="{% static 'tournament/js/npm.js' %}"></script>
    <script src="{% static 'tournament/js/myjs.js' %}"></script>
</body>
</html>
