<ul class="nav navbar-right ">
    <li class="dropdown">
<a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color: #ffffff">
        {{ user.username }}
      <b class="caret"></b>
  </a>
    <ul class="dropdown-menu">
         {% if user.is_superuser %}
            <li><a href="/admin">Кабинет администратора</a></li>
            <li class="divider"></li>
        {% elif perms.tournament.add_tournaments %}
             {% if user.userprofile.start_tournament == True and activ_tournament != False%}
                      <li><a style="background-color: #2aabd2" href="{% url 'tournament_new_tour' request.COOKIES.tours_number %}">Активный турнир<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                      <li><a style="background-color: red" href="{% url 'delete_tournament' request.COOKIES.tournament_id %}">Удалить турнир<span class="glyphicon glyphicon-trash"></span></a></li>
             {% else %}
                       <li><a style="background-color: #2aabd2" href="{% url 'tournament_new' %}"><span class="glyphicon glyphicon-plus"></span> Новый турнир</a></li>
             {% endif %}
             <li><a href="{% url 'AthleteCard' %}">Карты спортсменов</a></li>
            <li><a href="{% url 'archive_tournsmenst' %}">Архив турниров</a></li>
            <li class="divider"></li>
        {% elif perms.tournament.add_articles %}
            <li><a style="background-color: #2aabd2" href="/admin/tournament/articles/add/"><span class="glyphicon glyphicon-plus"></span> Новая статья</a></li>
            <li><a href="/admin">Кабинет редактора</a></li>
            <li class="divider"></li>
        {% endif %}
      <li><a href="{% url 'UserAuthenticate' %}" class="glyphicon glyphicon-off">Выход</a></li>
    </ul>
  </li>

</ul>



