{% extends 'tournament/base.html' %}

{% block content %}

<div class="row" align="center">

<div>
        <h4>Регистрация:</h4>
    </div>


<form class="form-horizontal"  action="{% url 'check_in' %}" method="post">{% csrf_token %}
  <div class="form-group" style="margin-top: 20px">
    <label class="control-label col-md-5" for="lastName">Логин:</label>
    <div class="col-md-3">
      <input type="text" maxlength="50" required maxlength="45" minlength="3" name="username" class="form-control" id="login" placeholder="Введите логин">
    </div>
  </div>
    <div class="form-group">
       <label class="control-label col-md-5" for="lastName">Имя:</label>
       <div class="col-md-3">
          <input type="text" maxlength="50" required maxlength="45" name="firstName" class="form-control" id="firsName" placeholder="Введите имя">
       </div>
    </div>
      <div class="form-group">
        <label class="control-label col-md-5" for="lastName">Фамилия:</label>
         <div class="col-md-3">
          <input type="text" maxlength="50" required maxlength="45" name="lastName" class="form-control" id="lastName" placeholder="Введите фамилию">
         </div>
      </div>
  <div class="form-group">
    <label class="control-label col-md-5" for="inputEmail">Email:</label>
    <div class="col-md-3">
      <input type="email" maxlength="50" required maxlength="45" name="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-5" for="inputPassword">Пароль:</label>
    <div class="col-md-3">
      <input type="password" maxlength="15" required maxlength="45" minlength="5" name="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
    </div>
  </div>
  <br />
    {% if messages %}
                    <div class="col-md-3 col-md-offset-5">
                        <div >

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 ><font color="red">{{ message }}</font></h5></li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                {% endif %}
  <div class="form-group">
    <div class="col-md-offset-4 col-md-5">
      <input type="submit" class="btn btn-primary" value="Регистрация">
    </div>
  </div>
</form>
</div>
{% endblock %}