<a href="{% url 'authentication' %}"  class="navbar-link"> <span class="glyphicon glyphicon-user"></span>Вход</a>
<a href="{% url 'check_in' %}" class="navbar-link"><span class="glyphicon glyphicon-plus-sign"></span>Регистрация</a>
