<form class="well form-search" action="" method="POST"  >{% csrf_token %}
  <input required type="number" name="search_string"  min="0" placeholder="Введите номер стола" style="width: 160px" class="input-medium search-query">
    <div class="form-group" >
        <div class="row">
            <div class="col-md-10 col-md-offset-3" style="margin-top: 10px">
                    <button type="submit" class="btn">Поиск</button>
                    <a href=""  title="Показать все пары" class="navbar-link"> <span class="glyphicon glyphicon-refresh"></span></a>
            </div>
        </div>


    </div>



</form>