<form class="well form-search"  >{% csrf_token %}
  <input type="text" name="search_string" required placeholder="Поиск..." style="width: 160px" class="input-medium search-query">
    <div class="form-group" >
        <div class="row">
            <div class="col-md-10 col-md-offset-3" style="margin-top: 10px">
                <div  class="form-group">
                                    <div class="row">
                                        <input type="radio" name="search_"  id="id_search_FIO" checked value="1" /> Ф.И.О.
                                    </div>
                                   <div class="row">
                                       <input type="radio" name="search_" id="id_search_number_passport" value="0" /> № паспорта
                                   </div>
                </div>
                    <button type="submit" class="btn">Поиск</button>
                    <a href="{% url 'AthleteCard' %}"  title="Показать все карты спортсменов" class="navbar-link"> <span class="glyphicon glyphicon-refresh"></span></a>
            </div>
        </div>


    </div>



</form>