<form class="well form-search" action="" method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-md-7">

            <input type="text" name="search_string" required class="input-medium search-query" PLACEHOLDER="Введите текст поиска">
            <button type="submit" class="btn">Поиск</button>
        </div>
        <div class="col-md-4">

                <div  class="form-group">
                                    <div class="row">
                                        <input type="radio" name="search_"  id="id_search_FIO" checked value="1" /> Ф.И.О.
                                    </div>
                                   <div class="row">
                                       <input type="radio" name="search_" id="id_search_number_passport" value="0" /> № паспорта
                                   </div>

                </div>
        </div>
        <div class="col-md-1" style="margin-top: 12px">
                   <a href=""  title="Показать весь список" class="navbar-link"> <span class="glyphicon glyphicon-refresh"></span></a>

        </div>
    </div>
</form>