<form class="well form-search" action="" method="POST">{% csrf_token %}
    <div class="row">

            <input type="text" required name="search_string" class="input-medium search-query" PLACEHOLDER="Ф.И.О.">
    </div>
    <div class="row">
        <div  style="margin-top: 12px" align="center">
                   <button type="submit" class="btn">Поиск</button>
                   <a href=""  title="Показать весь список" class="navbar-link"> <span class="glyphicon glyphicon-refresh"></span></a>

        </div>
    </div>
</form>