<form class="well form-search" action="" method="POST">{% csrf_token %}

        <div class="row" align="center" style="margin-top: 10px">

            <input type="text" required name="search_string" class="input-medium search-query" PLACEHOLDER="Введите текст поиска">
            <div style="margin-top: 10px">
                <h5>Турнир среди:</h5>
                <input type="radio" name="search_"  id="id_search_MAN" checked value="1" />М
                <input type="radio" name="search_" id="id_search_WOMAN" value="0" />Ж
            </div>
        </div>
        <div class="row" align="center" style="margin-top: 10px">
            <button type="submit" style="margin-top: 10px" class="btn">Поиск</button>
            <a href="" title="Показать весь список" class="navbar-link"> <span class="glyphicon glyphicon-refresh"></span></a>

        </div>
</form>