{% extends 'tournament/base.html' %}
{% block content %}
{% if messages %}
    <div class="col-md-9 col-md-offset-2">


                        <div style="background-color: #2aabd2" class="alert alert-danger">

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 >{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        </div>
    </div>
{% endif %}
    <div class="col-md-2" style="position: fixed">
        <h5>Турнир: {{ tournament.nametournament }}</h5>
        <div style="margin-top: 20px">
            {% include 'tournament/search_result_tournaments.html' %}
        </div>
    </div>
<div class="col-md-10 col-md-offset-2" style="margin-top: 5px">
<table style="border-collapse:collapse;width:100%;" class="table table-hover table-condensed table-striped">
	<div class="row">
    <div class="col-md-11">
    <tbody>
		<tr>
			<th>Место</th>
			<th>Спортсмен</th>
			<th>Набрано очков</th>
			<th>Коэф. Бухгольца</th>
			<th>Коэф. Солкофа</th>
            <th>Усеч. коэф. Солкофа</th>
            <th>Рейтинг Эло</th>
            <th>Ранг</th>
		</tr>
        {% for participant in all_participant_tournament %}
		  <tr>
			<td>{{ participant.place }}</td>
			<td>{{ participant.sportman_sportmanid.sportmanname }}</td>
			<td>{{ participant.currentpoint }}</td>
			<td>{{ participant.buchholzcoefficient }}</td>
			<td>{{ participant.solkoffcoefficient }}</td>
              <td>{{ participant.solkoffcoefficienttruncated }}</td>
            <td>{{ participant.sportman_sportmanid.ratingelo }}</td>
			<td>{{ participant.sportman_sportmanid.ranksportman_ranksportmanid.rankname }}</td>
		  </tr>
        {% endfor %}

	</tbody>
    </div>
    </div>
</table>
</div>
.
<div style="margin-top: 100px;color: #fdfdff" >

    .
</div>


{% endblock %}
