{% extends 'tournament/base.html' %}
{% block content %}
    <div class="row">
         {% if messages %}
                        <div style="background-color: #2aabd2" class="alert alert-danger">

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 >{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        </div>
            {% endif %}
        <div class="col-md-5 ">
            {% include 'tournament/search_add_participant_tournament.html' %}

        </div>
        <div class="col-md-2 col-md-offset-4">
            <form action="" method="post"> {% csrf_token %}
                            <button type="submit" name="btn_start" value="start" style="margin-top: 20px" class="btn btn-primary">Начать турнир</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <h4>Список спортсменов:</h4>
        </div>
        <div class="col-md-3 col-md-offset-4">
            <h4>Список участников турнира:</h4>
        </div>
    </div>
    <div class="col-md-5 " style="overflow: scroll">
    <div style="height: 430px">
    <table name="list_sportman" id="" style="margin-top: 10px" class="table table-hover table-condensed table-striped" cellspacing="0" width="100%">
        <thead >
            <tr >
                <th>Ф.И.О.</th>
                <th>Номер паспорта</th>
                <th>Ранг</th>
                <th>Управление </th>
            </tr>
        </thead>
        <tbody >

            {% for Sportman in all_sportman %}
                <tr>
                    <td>{{ Sportman.sportmanname  }}</td>
                    <td>{{ Sportman.numberpassport }}</td>
                    <td>{{ Sportman.ranksportman_ranksportmanid.rankname }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-4">
                                        <a href="{% url 'tournament_new_add_participant'  Sportman.sportmanid %}"  title="Добавить в турнир" class="navbar-link"> <span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>




    <div class="col-md-5 col-md-offset-1" style="overflow: scroll">
    <div style="height: 430px">
    <table name="list_sportman" id="" style="margin-top: 10px" class="table table-hover table-condensed table-striped" cellspacing="0" width="100%">
        <thead >
            <tr >
                <th>Ф.И.О.</th>
                <th>Номер паспорта</th>
                <th>Ранг</th>
                <th>Управление </th>
            </tr>
        </thead>
        <tbody >

            {% for Particianttournaments in all_participants %}
                <tr>
                    <td>{{ Particianttournaments.sportman_sportmanid.sportmanname  }}</td>
                    <td>{{ Particianttournaments.sportman_sportmanid.numberpassport }}</td>
                    <td>{{Particianttournaments.sportman_sportmanid.ranksportman_ranksportmanid.rankname }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-4">
                                        <a href="{% url 'tournament_new_delete_participant' Particianttournaments.particianttournamentid %}"  title="Удалить из турнира" class="navbar-link"> <span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>





</div>






<div class="container">


</div>
















{% endblock %}