{% extends 'tournament/base.html' %}

{% block content %}

<div class="row">

{% if messages %}
    <div class="col-md-9 col-md-offset-2">


                        <div style="background-color: #2aabd2" class="alert alert-danger">

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 >{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        </div>
    </div>
{% endif %}

    <div class="col-md-2" style="position: fixed">
        <div class="container">
            <h5>Турнир:{{ tournament.nametournament }}<br><br>
                Количество туров: {{ tournament.counttours }}<br>
                Тур: {{ current_tour }} </h5>
        </div>
        <div class="container">
            <br>
                Игрок без соперника:<p/>
                <div class="col-md-2">
                {% for participant_next_tou in participant_next  %}
                    <table class="table">
                        <tr>
                            <td>Ф.И.О.</td><td>{{ participant_next_tou.particianttournaments_particianttournamentid.sportman_sportmanid.sportmanname }}</td>
                        </tr>
                        <tr>
                            <td style="width: 70px">Очк. тур</td><td>{{ participant_next_tou.pointtour}}</td>
                        </tr>
                        <tr>
                            <td>Очков</td><td>{{ participant_next_tou.particianttournaments_particianttournamentid.currentpoint}}</td>
                        </tr>
                    </table>
                {% endfor %}
                </div>
            <br>

        </div>
        <div style="margin-top: 20px">
            {% include 'tournament/search_coulp.html' %}
        </div>
        <div class="col-md-3 col-md-offset-2">
            <form action="" method="post"> {% csrf_token %}
                            <button type="submit" name="btn_sfinish_tour" value="finish_tour" style="margin-top: 20px" class="btn btn-primary">Тур сыгран</button>
            </form>
        </div>

    </div>
    <div class="col-md-10 col-md-offset-2" style="margin-top: 5px">
    <div class="row">
    <div class="col-md-11">
    <table class="table table-hover table-condensed table-striped"  style="margin-top: 10px"  cellspacing="0" width="100%">
        <thead >
            <tr>
                <th>Стол</th>
                <th >Статус</th>
                <th >Игрок 1</th>
                <th >Цвет</th>
                <th >Рейт. Эло</th>
                <th >Очков</th>
                <th >Очк. тур</th>
                <th>Игрок 2</th>
                <th >Цвет</th>
                <th >Рейт. Эло</th>
                <th >Очков</th>
                <th >Очк. тур</th>
                <th></th>
            </tr>
        </thead>
        <tbody >
                {% for participant in all_couple %}


                <tr>
                    <td align="center">{{participant.participant_one.groupnumber  }}</td>

                        {% if participant.participant_one.finishgroup is False %}
                            <td class="danger" align="center">
                                игра
                            </td>
                        {% else %}
                            <td class="success" align="center">
                                сыграно
                            </td>

                        {% endif %}

                    <td>{{ participant.participant_one.particianttournaments_particianttournamentid.sportman_sportmanid.sportmanname}}</td>
                    <td >
                        {% if participant.participant_one.colorchess == True %}
                            Б
                        {% else %}
                            Ч
                        {% endif %}
                    </td>
                    <td >{{ participant.participant_one.particianttournaments_particianttournamentid.sportman_sportmanid.ratingelo }}</td>
                    <td >{{ participant.participant_one.particianttournaments_particianttournamentid.currentpoint}}</td>
                    <td >{{ participant.participant_one.pointtour }}</td>
                    <td >{{ participant.participant_two.particianttournaments_particianttournamentid.sportman_sportmanid.sportmanname }}</td>
                    <td >
                        {% if participant.participant_two.colorchess == True %}
                            Б
                        {% else %}
                            Ч
                        {% endif %}
                    </td>
                    <td >{{ participant.participant_two.particianttournaments_particianttournamentid.sportman_sportmanid.ratingelo }}</td>
                    <td >{{ participant.participant_two.particianttournaments_particianttournamentid.currentpoint}}</td>
                    <td >{{ participant.participant_two.pointtour }}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-2">
                                <a class="navbar-link" title="Результат партии" onclick="couple_add_result(value='{{participant.participant_one.participanttoursid}}',value='{{ participant.participant_one.particianttournaments_particianttournamentid.sportman_sportmanid.sportmanname }}')" > <span class="glyphicon glyphicon-pencil "></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    </div>

    </div>
</div>







    <div id="openModal_couple_add_result" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
      <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Ввод результата партии:</h4>
                </div>
      <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    <form name="edit_couple_tours" id="id_couple_tours" class="form-horizontal" action="" method="post"> {% csrf_token %}


                        <div class="form-group" >
                            <label class="control-label col-md-3 col-md-offset-1" style="margin-top: 2px" >Ф.И.О.:</label>
                                <div class="col-md-6" style="margin-top: 5px">
                                    <input type="text" class="form-control" readonly style="border: none" name="couple_one_F.I.O."  id="id_couple_participant_one_FIO"/>
                                </div>
                        </div>

                                     <div class="form-group ">
                                        <label class=" control-label col-md-3 col-md-offset-1">Очков</label>
                                            <div class="col-md-6 selectContainer">
                                                <select class="form-control" name="Point_tour_one">
                                                    <option value="0">0</option>
                                                    <option value="0.5">0.5</option>
                                                    <option value="1">1</option>
                                                </select>
                                            </div>
                                     </div>



                        <div class="form-group">
                    <div class="modal-footer">
                        <button type="button" name="btn_add_couple_result" value="btn_add_couple_result"   class="btn btn-default" data-dismiss="modal" >Закрыть</button>
                        <input type="submit" class="btn btn-primary"  value="Сохранить">
                    </div>
                </div>
            </form>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addBookDialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
            <p>some content</p>
            <input type="text" name="bookId" id="bookId" value=""/>
        </div>
        </div>
    </div>
</div>











    <div style="margin-top: 340px;color: #fdfdff" >

    .
    </div>
{% endblock %}