{% extends 'tournament/base.html' %}
{% block content %}
    <div class="row">
            <div class="col-md-12" >
                <h4>Регистрация турнира:</h4>
            </div>
        </div>
    <form  id="add_tournament_new" name="add_tournament" class="form-horizontal" action="" method="post"> {% csrf_token %}
                <div  class="form-group" style="margin-top: 40px">
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 8px" >Название турнира</label>
                    <div class="col-md-4" style="margin-top: 10px">
                        <input name="tournament_name" required maxlength="45" class="form-control" id="" placeholder="Введите название турнира">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 2px" >Место проведения:</label>
                    <div class="col-md-4" style="margin-top: 5px">
                        <input class="form-control" required maxlength="45" name="location" placeholder="Введите место проведения турнира">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 2px" >Ф.И.О судьи:</label>
                    <div class="col-md-4">
                        <input name="judge_name" required maxlength="45" class="form-control" id="" placeholder="Введите Ф.И.О. судьи">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1" style="margin-top: 2px" >Турнир среди:</label>
                    <div class="col-md-4" style="margin-top: 8px">
                       <div  class="form-group">
                           <div class="row">
                               <div class="col-md-3 col-md-offset-3">
                                   <input type="radio" name="gender_man" checked="checked" value="1" /> мужчин
                               </div>
                               <div class="col-md-3">
                                   <input type="radio" name="gender_man" value="0" /> женщин
                               </div>
                           </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                        <div class="col-md-offset-5 col-md-3" style="margin-top: 10px">
                            <input type="submit" class="btn btn-primary" value="Продолжить">
                        </div>



                </div>
            </form>


    {% if messages %}
                        <div style="background-color: #2aabd2" class="alert alert-danger">

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 >{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        </div>
    {% endif %}

{% endblock %}
