{% extends 'tournament/base.html' %}
{% block content %}
<div class="row">
{% if messages %}
                        <div style="background-color: #2aabd2" class="alert alert-danger">

                        <ul class="nav">
                             {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 >{{ message }}</h5></li>
                            {% endfor %}
                        </ul>
                        </div>
    {% endif %}
    <div class="col-md-2" style="position: fixed">
        <div style="margin-top: 50px">
            {% include 'tournament/search_tournament.html' %}
        </div>
    </div>
    <div class="col-md-10 col-md-offset-2" style="margin-top: 5px">
    <table class="table table-hover table-condensed table-striped" name="list_sportman"  style="margin-top: 10px"  cellspacing="0" width="100%">
        <thead >
            <tr>
                <th>Название</th>
                <th>Пол</th>
                <th>Дата</th>
                <th>Локация</th>
                <th>Судья</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody >

            {% for one_tournament in all_tournaments %}
                <tr>
                    <td>{{ one_tournament.nametournament }}</td>
                    <td>
                        {% if one_tournament.genderman == True %}
                            М
                        {% else %}
                            Ж
                        {% endif %}
                    </td>
                    <td>{{ one_tournament.datetournament}}</td>
                    <td>{{ one_tournament.location }}</td>
                    <td>{{ one_tournament.judgename}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-2">
                                <a href="{% url 'tournament_new_tour_result' one_tournament.tournamentsid %}" class="navbar-link" title="Просмотр результатов турнира"  > <span class="glyphicon glyphicon-forward "></span></a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    <div style="margin-top: 150px;color: #fdfdff">
    .
    </div>

{% endblock %}